includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    paths:
        - config
        - src
        - tests

    level: max

    ignoreErrors:
        -
            identifier: larastan.noEnvCallsOutsideOfConfig
            path: config/*.php
        -
            identifier: trait.unused
            path: src/Concerns/*.php
        -
            identifier: missingType.iterableValue
            path: src/Facades/*.php
        -
            message: '#^PHPDoc tag @(return|var) contains generic type Http\\Promise\\Promise<.+?> but interface Http\\Promise\\Promise is not generic\.$#'
            reportUnmatched: false
